services:
  django:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod
    depends_on:
      - redis
    restart: always
    networks:
      - qkics_net

  redis:
    image: redis:7
    restart: always
    networks:
      - qkics_net

networks:
  qkics_net:
    driver: bridge
