version: '3.8'

services:
  django:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: Qkics-Backend
    env_file:
      - .env
    ports:
      - "9000:9000"
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7-alpine
    container_name: redis_app
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    command: redis-server --appendonly yes

networks:
  app_network:
    driver: bridge

volumes:
  redis_data: